@font-face {
  font-family: 'Glacial Indifference';
  src:  url('@/assets/fonts/glacialindifference-regular-webfont.ttf') format('ttf'),
        url('@/assets/fonts/glacialindifference-regular-webfont.woff') format('woff'),
        url('@/assets/fonts/glacialindifference-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src:  url('@/assets/fonts/glacialindifference-bold-webfont.ttf') format('ttf'),
        url('@/assets/fonts/glacialindifference-bold-webfont.woff') format('woff'),
        url('@/assets/fonts/glacialindifference-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src:  url('@/assets/fonts/glacialindifference-italic-webfont.woff') format('woff'),
        url('@/assets/fonts/glacialindifference-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}