/**
* @breakpoints
*/
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;
$breakpoint-lg: 1264px;
$breakpoint-xl: 1900px;

/**
* @colors
*/
$clr-grey-light: #F6F8F9;
$clr-grey: #D8D8D8;
$clr-grey-dark: #2C2E30;
$clr-blue: #37A8EE;
$clr-green: #00DCA4;
$clr-yellow: #F1C40F;
$clr-btn-primary: #37A8EE;
$clr-btn-secondary: #00DCA4;
$clr-white: #FFFFFF
